  <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about-tt-footer pn">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <h1>
                            About 1Design
                        </h1>
                        <ul>
                            <li>
                                <a class="hvr-footer" href="">
                                    our team
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    terms of use
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    privacy policy
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    testimonial
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    contact us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <h1>
                            Find Pro
                        </h1>
                        <ul>
                            <li>
                                <a class="hvr-footer" href="">
                                    architects
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    interior designers
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    general contractors
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    landscape  architects
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <h1>
                            Brands
                        </h1>
                        <ul>
                            <li>
                                <a class="hvr-footer" href="">
                                    kajaria
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    sloan
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    hindware
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    atom
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <h1>
                            Design Ideas
                        </h1>
                        <ul>
                            <li>
                                <a class="hvr-footer " href="">
                                    residential design ideas
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    commercial design ideas
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    industrial
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    hospitality
                                </a>
                            </li>
                            <li>
                                <a class="hvr-footer" href="">
                                    relligious
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer> 
    <div class="copy_right_footer">
       <div class="container">
           <div class="col-md-6 pn">
               <p>
                    <i class="fa fa-copyright" aria-hidden="true"></i> 
                    2018 1design. Grow your business with 1design.
                </p>
           </div>
           <div class="col-md-6">
               <div class="footer_socil_icon">
                   <i class="fa fa-facebook" aria-hidden="true"></i>
                   <i class="fa fa-twitter" aria-hidden="true"></i>
                   <i class="fa fa-linkedin" aria-hidden="true"></i>
               </div>
           </div>
       </div>
    </div>
  <script>new WOW().init();</script>