@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins.eot');
	src: url('../fonts/Poppins.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins.woff2') format('woff2'), url('../fonts/Poppins.woff') format('woff'), url('../fonts/Poppins.ttf') format('truetype'), url('../fonts/Poppins.svg#Poppins') format('svg');
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family: 'Poppins Bold';
	src: url('../fonts/PoppinsBold.eot');
	src: url('../fonts/PoppinsBold.eot?#iefix') format('embedded-opentype'), url('../fonts/PoppinsBold.woff2') format('woff2'), url('../fonts/PoppinsBold.woff') format('woff'), url('../fonts/PoppinsBold.ttf') format('truetype'), url('../fonts/PoppinsBold.svg#Poppins Bold') format('svg');
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family: 'Poppins Light';
	src: url('../fonts/PoppinsLight.eot');
	src: url('../fonts/PoppinsLight.eot?#iefix') format('embedded-opentype'), url('../fonts/PoppinsLight.woff2') format('woff2'), url('../fonts/PoppinsLight.woff') format('woff'), url('../fonts/PoppinsLight.ttf') format('truetype'), url('../fonts/PoppinsLight.svg#Poppins Light') format('svg');
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family: 'Poppins Medium';
	src: url('../fonts/PoppinsMedium.eot');
	src: url('../fonts/PoppinsMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/PoppinsMedium.woff2') format('woff2'), url('../fonts/PoppinsMedium.woff') format('woff'), url('../fonts/PoppinsMedium.ttf') format('truetype'), url('../fonts/PoppinsMedium.svg#Poppins Medium') format('svg');
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family: 'Poppins SemiBold';
	src: url('../fonts/PoppinsSemiBold.eot');
	src: url('../fonts/PoppinsSemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/PoppinsSemiBold.woff2') format('woff2'), url('../fonts/PoppinsSemiBold.woff') format('woff'), url('../fonts/PoppinsSemiBold.ttf') format('truetype'), url('../fonts/PoppinsSemiBold.svg#Poppins SemiBold') format('svg');
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}