.slick-arrow {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 18px;
    position: absolute;
    top: 50%;
    margin: -22px 0 0 60px;
    color: #fff;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .3s ease;
    border: 0;
    background: none;
    z-index: 999999;
}

.slick-arrow.slick-prev {
    padding-right: 2px;
    padding-left: 0;
    margin-left: -114px;
    left: 0
}

.slick-arrow.slick-disabled {
    pointer-events: none;
    opacity: 0
}

.slick-arrow:before {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 27px;
    bottom: 0;
    z-index: -1;
    border: 1px solid #555;
    left: 0;
    transition: all .1s ease;
    right: 0
}

.slick-arrow:hover {
    color: #fff
}

.slick-arrow:hover:before {
    border-color: #fff;
    margin: 4px;
    opacity: 1
}

.slick-list * {
    outline: none
}

.gallery {
    padding: 0;
    position: relative;
    margin-left: 3rem;
    margin-top: 5rem;

}

.gallery ul.slick-initialized {
    margin: 0
}

.gallery .slick-slide {
    transition: opacity .3s ease;
    opacity: .15;
    pointer-events: none
}

.gallery .slick-active {
    opacity: 1;
    pointer-events: auto
}

.gallery .cats li {
    float: left;
    padding-bottom: 20px;
    padding-right: 30px
}

.gallery .cats .current a {
    color: #fff;
    background: #333
}

.gallery .cats .current a:before {
    border-color: #333;
    margin: 2px;
    opacity: 1
}

.gallery .cats li:not(.current) a:hover {
    color: #fff
}

.gallery .cats li:not(.current) a:hover:before {
    border-color: #fff;
    margin: 2px;
    opacity: 1
}

.gallery .cats li a {
    line-height: 1.2;
    padding: 10px 15px;
    text-align: center;
    color: #999;
    display: inline-block;
    font-size: 12px;
    position: relative;
    z-index: 1;
    border: 0;
    border-radius: 15px
}

.gallery .cats li a:before {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 15px;
    bottom: 0;
    z-index: -1;
    border: 1px solid #333;
    left: 0;
    transition: all .15s ease;
    right: 0
}

.gallery-cat {
    position: absolute;
    width: calc(100% + 0px);
    left: -999em;
    padding-bottom: 10px;
    margin-left: 11px;
    transition: opacity .3s ease;
    opacity: 0
}

.gallery-cat .slick-arrow.slick-prev {
    left: 0px
}

.gallery-cat .slick-slide {
    font-size: 0;
    line-height: 0
}

.gallery-cat.active {
    opacity: 1;
    left: 0;
    position: static;
    
}

.gallery-cat li {
    padding: 15px 0 15px 30px
}

.gallery-cat img {
    width: 100%;
    display: block
}

@media screen and (min-width:1024px) and (min-height:720px) {
   
}

@media screen and (max-width:1600px) {

}

@media screen and (max-width:1200px) {

}

@media screen and (max-width:991px) {
  
    .gallery-cat li {
        padding-left: 15px;
        padding-bottom: 0
    }
    .gallery-cat {
        width: calc(100% + 15px);
        margin-left: -15px;
        padding-bottom: 20px
    }
    .gallery .slick-initialized,
    .menu-slider.slick-initialized {
        padding: 0 35px
    }
    .slick-arrow.slick-prev {
        margin-left: 0;
        left: -20px
    }
    .gallery .cats li {
        padding-right: 15px
    }
    .gallery-cat .slick-arrow.slick-prev {
        left: -5px
    }
    .slick-arrow.slick-next {
        margin-left: -20px;
        left: 100%
    }
}

@media screen and (max-width:767px) {
    
    .gallery .cats li {
        padding-right: 5px;
        padding-bottom: 7px
    }
  
   
}

