<br/><br/>
<!--main-->
<div class="container">
    <div class="row">
        <!--left-->
        <app-side-bar></app-side-bar>

        <!--right-->
        <div class="col-md-9 col-sm-12 col-xs-12 center_div">
            <div class="board-inner user_form_tabing">
                <ul class="nav nav-tabs user_form_nav custom_tab" id="myTab">
                    <li class="active">
                        <a href="#info" data-toggle="tab" title="profile" aria-expanded="false">
                            <span class="tab_name">
                                personal information
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#projects" data-toggle="tab" title="picture" aria-expanded="false">
                            <span class="tab_name">
                                ID verification
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#video" data-toggle="tab" title="video" aria-expanded="true">
                            <span class="tab_name">
                                Email and Password
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#portfolio" data-toggle="tab" title="Event" aria-expanded="false">
                            <span class="tab_name">
                                notification
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#reviews" data-toggle="tab" title="Club" aria-expanded="false">

                            <span class="tab_name">
                                reviews
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="board">
                <!-- start tab content -->
                <div class="tab-content custom_tab_content">
                    <div class="tab-pane fade active in" id="info">
                        <!-- tab content -->
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <h3 class="heading_text_all center_div">
                                contact information
                            </h3>
                            <p class="second_heading_text_all">
                                your contact information is strictly private, visible only to you 
                                and to admin.
                            </p>
                            <div class="row">
                                <div class="user_form_inputs mt-1">
                                    <div class="col-md-4  inputwrapper user_icon">
                                        <input class="form-control" type="text" placeholder="Full Name" />
                                    </div>
                                    <div class="col-md-4  inputwrapper user_icon">
                                        <input class="form-control" type="text" placeholder="Address" />
                                    </div>
                                    <div class="col-md-4  inputwrapper user_icon">
                                        <input class="form-control" type="text" placeholder="Address line 2" />
                                    </div>
                                    <div class="col-md-4  inputwrapper user_icon">
                                        <input class="form-control" type="text" placeholder="City / Town" />
                                    </div>
                                    <div class="col-md-4  inputwrapper user_icon">
                                        <input class="form-control" type="text" placeholder="State / County / Province" />
                                    </div>
                                    <div class="col-md-4  inputwrapper user_icon">
                                        <input class="form-control" type="text" placeholder="Postcode / ZIP" />
                                    </div>
                                    <div class="col-md-4  inputwrapper user_icon">
                                        <input class="form-control" type="text" placeholder="Country" />
                                    </div>
                                    <div class="col-md-4  inputwrapper user_icon">
                                        <input class="form-control" type="text" placeholder="Phone" />
                                    </div>
                                    <div class="col-md-4  inputwrapper user_icon">
                                        <input class="form-control" type="text" placeholder="Time zone" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 mt-3">
                            <h3 class="heading_text_all">
                                Languages
                            </h3>
                            <p class="second_heading_text_all">
                                select the languages you are proficient in.
                            </p>


                            <div class="col-md-8 check_box_input pn mt-1">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                <input id="radio-1" class="radio-custom" name="radio-group" type="radio" checked>
                                                <label for="radio-1" class="radio-custom-label">indonsian</label>
                                            </th>
                                            <th>
                                                <input id="radio-2" class="radio-custom" name="radio-group" type="radio" checked>
                                                <label for="radio-2" class="radio-custom-label">german(deutsch)</label>
                                            </th>
                                            <th>
                                                <input id="radio-3" class="radio-custom" name="radio-group" type="radio" checked>
                                                <label for="radio-3" class="radio-custom-label">english(English)</label>
                                            </th>

                                        </tr>

                                        <tr>
                                            <th>
                                                <input id="radio-4" class="radio-custom" name="radio-group" type="radio" checked>
                                                <label for="radio-4" class="radio-custom-label">spanish(espanol)</label>
                                            </th>
                                            <th>
                                                <input id="radio-5" class="radio-custom" name="radio-group" type="radio" checked>
                                                <label for="radio-5" class="radio-custom-label">french(franccil)</label>
                                            </th>
                                            <th>
                                                <input id="radio-6" class="radio-custom" name="radio-group" type="radio" checked>
                                                <label for="radio-6" class="radio-custom-label">dutch(nederiands)</label>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <input id="radio-7" class="radio-custom" name="radio-group" type="radio" checked>
                                                <label for="radio-7" class="radio-custom-label">korean</label>
                                            </th>
                                            <th>
                                                <input id="radio-8" class="radio-custom" name="radio-group" type="radio" checked>
                                                <label for="radio-8" class="radio-custom-label">italian(italiano)</label>
                                            </th>
                                            <th>
                                                <input id="radio-9" class="radio-custom" name="radio-group" type="radio" checked>
                                                <label for="radio-9" class="radio-custom-label">portuguese</label>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <input id="radio-10" class="radio-custom" name="radio-group" type="radio" checked>
                                                <label for="radio-10" class="radio-custom-label">japnese</label>
                                            </th>
                                            <th>
                                                <input id="radio-11" class="radio-custom" name="radio-group" type="radio" checked>
                                                <label for="radio-11" class="radio-custom-label">chinese</label>
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="col-md-12 col-sm-12 col-xs-12 pn mt-1">
                                    <button class="sign_in_button logwit_g">
                                        update info
                                    </button>
                                </div>
                            </div>
                            <!-- show in mobile view -->
                            <div  class="col-md-4 col-sm-4 col-xs-12 pn searchble_input mt-1">
                                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true">
                                    <option>indonsian</option>
                                    <option>spanish(espanol)</option>
                                    <option>korean</option>
                                    <option>japnese</option>
                                    <option>german(deutsch)</option>
                                    <option>french(franccil)</option>
                                    <option>dutch(nederiands)</option>
                                    <option>portuguese</option>
                                    <option>english(English)</option>
                                </select>
                                <div class="col-md-12 col-sm-12 col-xs-12 pn mt-1">
                                    <button class="sign_in_button logwit_g">
                                        update info
                                    </button>
                                </div>
                            </div>
                            <!-- show in mobile view -->
                        </div>
                        <!-- end tab content -->
                    </div>
                    <div class="tab-pane fade" id="projects">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h3 class="heading_text_all">
                                Identity verification
                            </h3>
                            <p class="verifi_status mt-1">Verification Status: <span>Not verified <img src="assets/img/sad.svg" alt="sad"></span></p>
                            <p class="verifi_status_tc">
                                1designs is a professional marketplace and it's important for us to confirm the identities of our users in order to maintain a trusted environment.
                                Verifying your ID helps to secure your accounts and payments. At certain moments you will be required to verify your ID to progress to the next step.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="video">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h3 class="heading_text_all">
                                Email
                            </h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="user_form_inputs mt-1">
                                    <div class="col-md-4  inputwrapper email_icon">
                                        <input class="form-control" type="text" placeholder="Email" />
                                    </div>
                                    <div class="col-md-4  inputwrapper email_icon">
                                        <input class="form-control" type="text" placeholder="Enter your password to confirm change" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <button class="sign_in_button logwit_g">
                                        chnage email address
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 mt-3">
                            <h3 class="heading_text_all">
                                Password
                            </h3>
                            <p class="second_heading_text_all">
                                Tips for a secure password
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="user_form_inputs mt-1">
                                    <div class="col-md-4  inputwrapper passwrd_icon">
                                        <input class="form-control" type="password" placeholder="Current password" />
                                    </div>
                                    <div class="col-md-4  inputwrapper passwrd_icon">
                                        <input class="form-control" type="password" placeholder="New password" />
                                    </div>
                                    <div class="col-md-4  inputwrapper passwrd_icon">
                                        <input class="form-control" type="password" placeholder="Confirm new password" />
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <button class="sign_in_button logwit_g">
                                            change password
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="portfolio">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <h3 class="heading_text_all">
                                Website
                            </h3>
                            <div class="col-md-12 col-sm-12 col-xs-12 pn mt-3 ">
                                <div class="active_work mb-3">
                                    <h3 class="heading_text_all">
                                        Active work : <span>alerts and reminders</span>
                                    </h3>
                                    <p><img src="assets/img/on.svg" alt="on_switch"> On</p> 
                                </div>
                                <div class="active_work">
                                    <h3 class="heading_text_all">
                                        Watched contests : <span>alerts and reminders </span>
                                    </h3>
                                    <span>
                                        <input id="noti_radio-1" class="radio-custom saveButton" name="radio-group" type="radio" checked="">
                                        <label for="noti_radio-1" class="radio-custom-label">On</label>
                                    </span>
                                    <span>
                                        <input id="noti_radio-2" class="radio-custom saveButton" name="radio-group" type="radio" checked="">
                                        <label for="noti_radio-2" class="radio-custom-label">Off</label>
                                    </span>
                                    <span>
                                        <span class="successfully-saved"><i class="fa fa-thumbs-up"></i> Saved!</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="heading_text_all">
                                Email
                            </h3>
                            <div class="col-md-12 col-sm-12 col-xs-12 pn mt-3">
                                <div class="active_work mb-3">
                                    <h3 class="heading_text_all">
                                        Alerts
                                    </h3>
                                    <p>Instant</p>
                                </div>
                                <div class="alerts_dropdown">
                                    <div class="select_custome">
                                        <p class="custom_label">
                                            Comments, ratings and messages
                                        </p> 
                                        <select name="sources" id="sources" class="custom-select sources" placeholder="Source Type">
                                            <option value="profile">Profile</option>
                                            <option value="word">Word</option>
                                            <option value="hashtag">Hashtag</option>
                                        </select>
                                    </div> 
                                </div>
                                <div class="alerts_dropdown mt-3">
                                    <div class="select_custome">
                                        <p class="custom_label">
                                            Comments, ratings and messages
                                        </p> 
                                        <select name="sources" id="sources" class="custom-select sources" placeholder="Source Type">
                                            <option value="profile">Profile</option>
                                            <option value="word">Word</option>
                                            <option value="hashtag">Hashtag</option>
                                        </select>
                                    </div> 
                                </div>
                                <div class="alerts_dropdown mt-3">
                                    <div class="select_custome">
                                        <p class="custom_label">
                                            Comments, ratings and messages
                                        </p> 
                                        <select name="sources" id="sources" class="custom-select sources" placeholder="Source Type">
                                            <option value="profile">Profile</option>
                                            <option value="word">Word</option>
                                            <option value="hashtag">Hashtag</option>
                                            <option value="hashtag">Hashtag</option>
                                            <option value="hashtag">Hashtag</option>
                                            <option value="hashtag">Hashtag</option>
                                            <option value="hashtag">Hashtag</option>
                                            <option value="hashtag">Hashtag</option>
                                            <option value="hashtag">Hashtag</option>
                                            <option value="hashtag">Hashtag</option>
                                            <option value="hashtag">Hashtag</option>
                                            <option value="hashtag">Hashtag</option>
                                        </select>
                                    </div> 
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="reviews">
                        User Club
                    </div>
                </div>
            </div>
        </div>

    </div><!--/row-->
</div><!--/container-->
